/** Global element styling **/

@import 'https://fonts.googleapis.com/css?family=Lato:400,700';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lato',sans-serif;
}
main{
    position: relative;
}
li{
    list-style: none;
}
a{
    color: #000;
    text-decoration: none;
}
h1{
    padding: 15px 0px;
}

.header-1{
    min-height: 75px;
    padding: 0px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
@media (max-width: 600px){
    .header-1{
        flex-wrap: wrap;
    }
}
.logo{
    width: 60vw;
}
@media(max-width: 650px){
    .logo{
        margin-top: 15px;
        width: 100%;
        position: relative;
    }
}

.navbar-1{
    font-weight: 400;
}

.navbar-1 ul{
    width: 35vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.navbar-2{
    display: flex;
    background: lightskyblue;
    min-height: 75px;
    align-items: center;
}
.navbar-2 .logo{
    flex: 1;
    justify-content: flex-start;
}
.navbar-2 .navbar-links{
    justify-content: flex-end;
}
.navbar-2 ul li{
    display: inline;
    padding: 0 1em;
    color: white;   
}